.friend_list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;

  gap: 20px;
  max-width: 200px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 200px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
