.transaction_history {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 20px;
  border-collapse: collapse;
  margin: 0 auto;

  thead {
    tr {
      background-color: #3998bd;

      th {
        color: #fff;
      }
    }
  }

  tr {
    border-bottom: 1px solid #e1e1e1;

    th,
    td {
      padding: 10px;
      text-align: center;
    }

    &:nth-child(even) {
      background: #ccc;
    }
  }
}
